
// Body
$body-font: 'Raleway',sans-serif;
$body-font-color: #636b6f;
$body-background-color: #b0b3b5;

// Borders
$border-color: darken($body-background-color, 10%);
$list-group-border: $border-color;
$navbar-default-border: $border-color;
$panel-default-border: $border-color;
$panel-inner-border: $border-color;

// Brands
$brand-primary: #101010;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

//Toolbar
$app-toolbar-height: 100px;