
// Fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Megrim|Monoton|Playfair+Display+SC|Raleway:300,400,600');

// Variables
@import "variables";

//Element UI
@import "./modules/element/index.css";

//bourbon
@import "~bourbon/app/assets/stylesheets/bourbon";

//Modules
@import "modules/fly-card";
@import "modules/full-list-view";

//Mixins
@import "mixins";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  background: $body-background-color url("../img/hypnotize.png");
  font-family: $body-font;
  color: $body-font-color;

  min-height: 100%;
  height: 100%;
  margin: 0;
}

#app, .overlay{
  @include position(absolute,0);
}

.page{
  width: 100%;
}

.fly-twoPane-view{
  position: relative;
  padding: 40px 80px;
  display: flex;
  .el-col{
    padding: 0 10px;
  }
}
//CLEARFIX
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

//IMAGES
.fly-search-pane{
  background: url("../img/handshake.jpg") no-repeat center;
  background-size: cover;
}