.fly-card{
  position:relative;
  border-bottom-color: darkgrey;
  border-width: 1px;
  border-radius: 4px;
  .fly-card-Content {
    padding: 10px;
  }
  .fly-card-footer{
    margin-top: 20px;
  }
}

.fly-info-Card{
  border: 2px solid $brand-accent;
  border-radius: 0px;
  margin-bottom: 20px;
}